// Fonts
$-f-heading: 'DM Serif Display', serif;
$-f-body: 'Karla', sans-serif;

// Colors
$-c-violet: hsl(256, 26%, 20%);
$-c-g-blue: hsl(216, 30%, 68%);
$-c-d-violet: hsl(270, 9%, 17%);
$-c-dg-violet: hsl(273, 4%, 51%);
$-c-l-gray: hsl(0, 0%, 98%);